* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* 1rem = 10px */
    /*font-size: 62.5%;*/
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.4s; 
    //line-height: 140%;
}

body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}
