<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="/img/favicon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="/js/scrollreveal.min.js" defer></script>
    <script src="/js/swiper-bundle.min.js" defer></script>
    <script type="module" src="/js/index.js" defer></script>


    <title><%= title %></title>
</head>
<body>

    <header class="header" id="header">

        <nav class="nav container">
            <a href="#" class="nav__logo">
               <img src="/img/logo.png" alt="logo" class="nav__logo-img">
               Noël
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">Accueil</a>
                    </li>
                    <li class="nav__item">
                        <a href="#celebrate" class="nav__link">Célébration</a>
                    </li>
                    <li class="nav__item">
                        <a href="#gift" class="nav__link">Cadeaux</a>
                    </li>
                    <li class="nav__item">
                        <a href="#new" class="nav__link">Nouveautés</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="bx bx-x"></i>
                </div>

                <img src="/img/nav-light.png" alt="christmas wreaths" class="nav__img">
            </div>

            <div class="nav__btns">
                <i class='bx bx-moon change-theme' id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt' ></i>
                </div>
            </div>
        </nav>

    </header>

    <main>

        <section class="home" id="home">
            <div class="home__container container grid">
                <img src="/img/home.png" alt="" class="home__img">

                <div class="home__data">
                    <h1 class="home__title">Joyeux Noël et <br> bonne année!</h1>
                    <p class="home__description">
                        Noël et une nouvelle année sont sur le point de commencer,
                        meilleurs voeux et succès.
                    </p>
                    <a href="#" class="button">Commencer</a>
                </div>
            </div>
        </section>


        <section class="giving section container">
            <h2 class="section__title">
                Commencer à offrir pour <br> Noël
            </h2>

            <div class="giving__container grid">
                <div class="giving__content">
                    <img src="/img/giving1.png" alt="" class="giving__img">
                    <h3 class="giving__title">Cadeaux surprises</h3>
                    <p class="giving__description">Les meilleurs cadeaux que vous pourriez offrir.</p>
                </div>

                <div class="giving__content">
                    <img src="/img/giving2.png" alt="" class="giving__img">
                    <h3 class="giving__title">Ornements</h3>
                    <p class="giving__description">Prenez un moment pour décorer.</p>
                </div>

                <div class="giving__content">
                    <img src="/img/giving3.png" alt="" class="giving__img">
                    <h3 class="giving__title">Beaucoup d'amour</h3>
                    <p class="giving__description">Partagez des émotions intemporelles.</p>
                </div>
            </div>
        </section>

        <section class="celebrate section container" id="celebrate">
            <div class="celebrate__container grid">
                <div class="celebrate__data">
                    <h2 class="section__title celebrate__title">
                        Célébration avec <br> beaucoup d'attention
                    </h2>
                    <p class="celebrate__description">
                        Pour les fêtes de fin d'année, célébrez avec émotions, en offrant
                        votre bénédiction à vos proches, vos amis et vos voisins.
                    </p>
                    <a href="#" class="button">Envoyer vos meilleurs voeux</a>
                </div>

                <img src="/img/celebrate.png" alt="" class="celebrate__img">
            </div>
        </section>

        <section class="gift section container" id="gift">
            <h2 class="section__title">Partagez un cadeau</h2>

            <div class="gift__container grid">
                <article class="gift__card">
                    <img src="/img/gift1.png" alt="" class="gift__img">
                    <i class='bx bx-heart gift__icon'></i>
                    
                    <h3 class="gift__price">15€</h3>
                    <span class="gift__title">Pain d'épice</span>
                </article>

                <article class="gift__card">
                    <img src="/img/gift2.png" alt="" class="gift__img">
                    <i class='bx bx-heart gift__icon'></i>
                    
                    <h3 class="gift__price">22€</h3>
                    <span class="gift__title">Bonnet de père noël</span>
                </article>

                <article class="gift__card">
                    <img src="/img/gift3.png" alt="" class="gift__img">
                    <i class='bx bx-heart gift__icon'></i>
                    
                    <h3 class="gift__price">48€</h3>
                    <span class="gift__title">Sapin de noël</span>
                </article>

                <article class="gift__card">
                    <img src="/img/gift4.png" alt="" class="gift__img">
                    <i class='bx bx-heart gift__icon'></i>
                    
                    <h3 class="gift__price">35€</h3>
                    <span class="gift__title">Bonhomme de neige</span>
                </article>

                <article class="gift__card">
                    <img src="/img/gift5.png" alt="" class="gift__img">
                    <i class='bx bx-heart gift__icon'></i>
                    
                    <h3 class="gift__price">12€</h3>
                    <span class="gift__title">Sucre d'orge</span>
                </article>
            </div>
        </section>

        <section class="new section container" id="new">
            <h2 class="section__title">Nouveautés</h2>

            <div class="new__container">
                <div class="swiper new-swiper">
                    <div class="swiper-wrapper">
                        <article class="new__card swiper-slide">
                            <div class="new__overlay"></div>

                            <img src="/img/new1.png" alt="" class="new__img">
                            <h3 class="new__price">95€</h3>
                            <span class="new__title">Renne</span>
                            
                            <button class="button new__button">
                                <i class='bx bx-heart new__icon'></i>
                            </button>
                        </article>

                        <article class="new__card swiper-slide">
                            <div class="new__overlay"></div>

                            <img src="/img/new2.png" alt="" class="new__img">
                            <h3 class="new__price">20€</h3>
                            <span class="new__title">Boule à neige</span>

                            <button class="button new__button">
                                <i class='bx bx-heart new__icon'></i>
                            </button>
                        </article>

                        <article class="new__card swiper-slide">
                            <div class="new__overlay"></div>

                            <img src="/img/new3.png" alt="" class="new__img">
                            <h3 class="new__price">75€</h3>
                            <span class="new__title">Luge</span>

                            <button class="button new__button">
                                <i class='bx bx-heart new__icon'></i>
                            </button>
                        </article>

                        <article class="new__card swiper-slide">
                            <div class="new__overlay"></div>

                            <img src="/img/new4.png" alt="" class="new__img">
                            <h3 class="new__price">15€</h3>
                            <span class="new__title">Guirlande</span>

                            <button class="button new__button">
                                <i class='bx bx-heart new__icon'></i>
                            </button>
                        </article>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="message section container">
            <div class="message__container grid">
                <form action="" class="message__form">
                    <h2 class="message__title">Partagez vos meilleurs <br> voeux!</h2>
                    <input type="email" placeholder="Write your message" class="message__input">
                    <button class="button message__button">Envoyer un message</button>
                </form>

                <img src="/img/message.png" alt="" class="message__img">
            </div>
        </section>

    </main>

    <footer class="footer section">
        <div class="footer__container container grid">
            <div>
                <a href="#" class="footer__logo">
                    <img src="/img/logo.png" alt="" class="footer__logo-img"> 
                    Noël
                </a>

                <p class="footer__description">
                    Pour ce noël, envoyez <br> beaucoup d'amour
                </p>
            </div>

            <div>
                <h3 class="footer__title">Nos services</h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Prix</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Réductions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Modes de livraison</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">Service client</h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">FAQs</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Centre de support</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Nous contacter</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="footer__title">Disponible sur</h3>

                <div class="footer__aviables">
                    <img src="/img/aviable1.png" alt="" class="footer__aviable-img">
                    <img src="/img/aviable2.png" alt="" class="footer__aviable-img">
                </div>
            </div>

            <img src="/img/footer1.png" alt="" class="footer__img1">
            <img src="/img/footer2.png" alt="" class="footer__img2">
        </div>

        <span class="footer__copy"></span>

    </footer>


    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>
    
</body>
</html>