@media screen and (max-width: 320px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .giving__container{
        gap: 1rem;
    }

    .gift__container{
        grid-template-columns: 150px;
        justify-content: center;
    }
}

@media screen and (min-width: 576px){
    .home__description{
        padding: 0 8rem;
    }

    .giving__container{
        grid-template-columns: repeat(2, 142px);
        justify-content: center;
        gap: 2.5rem 3.5rem;
    }

    .celebrate__description{
        padding: 0 4rem;
    }

    .gift__container{
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        gap: 2rem;
    }

    .message__input,
    .message__button{
        width: 60%;
    }

    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px){
    body{
        margin: 0;
    }

    .section{
        padding: 6.5rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;

        &__toggle,
        &__close,
        &__img{
            display: none;
        }
        &__menu{
            margin-left: auto;
        }
        &__list{
            flex-direction: row;
            column-gap: 3rem;
        }
    }

    .dark-theme .nav__menu{
        box-shadow: none;
    }

    .home__container,
    .celebrate__container,
    .message__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    .home{
        &__container{
            padding-top: 8rem;
        }
        &__data{
            text-align: initial;
        }
        &__description{
            padding: 0;
        }
    }

    .giving__container{
        grid-template-columns: repeat(3, 142px);
        column-gap: 5rem;
    }

    .celebrate{
        &__data,
        &__title{
            text-align: initial;
        }
        &__description{
            padding: 0;
        }
    }
    
    .gift__container{
        grid-template-columns: repeat(3, 200px);
        gap: 2.5rem;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .home{
        &__container{
            column-gap: 1rem;
        }
        &__img{
            width: 500px;
        }
        &__description{
            padding-right: 8rem;
        }
    }

    .giving{
        &__container{
            column-gap: 8rem;
            padding-top: 2rem;
        }
        &__img{
            width: 120px;
        }
    }

    .celebrate{
        &__img{
            width: 450px;
        }
        &__description{
            padding-right: 7rem;
        }
    }

    .gift{
        &__container{
            padding-top: 2rem;
        }
        &__card{
            padding: 2rem 1.5rem 1.5rem;
        }
        &__img{
            width: 120px;
            margin-bottom: var(--mb-1);
        }
        &__title{
            font-size: var(--small-font-size);
        }
    }

    .new{
        &__container{
            padding-top: 2rem;
        }
        &__card{
            margin-bottom: 5rem;
        }
        &__price{
            font-size: var(--h3-font-size);
        }
    }

    .message{
        &__container{
            padding: 3.5rem 0;
            grid-template-columns: repeat(2, max-content);
            column-gap: 4rem;
            justify-content: center;
        }
        &__form{
            text-align: initial;
        }
        &__title{
            font-size: var(--h1-font-size);
        }
        &__input{
            display: block;
            width: 280px;
        }
        &__button{
            width: initial;
        }
        &__img{
            width: 320px;
        }
    }

    .footer{
        &__container{
            grid-template-columns: repeat(4, max-content);
            justify-content: space-between;
        }
        &__copy{
            margin-top: 7rem;
        }
        &__img1,
        &__img2{
            width: 120px;
        }
        &__img1{
            top: 100%;
            left: 0;
        }
        &__img2{
            top: 40%;
            right: -7rem;
        }
    }

    .scrollup{
        right: 3rem;
    }
}