.button{
    
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1.15rem 2.75rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: .3s;

    &:hover{
        background-color: var(--first-color-alt);
    }
}