.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__close,
    &__toggle {
        color: var(--title-color);
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        font-weight: var(--font-medium);
    }

    &__logo-img {
        width: 1.5rem;
    }

    &__toggle {
        display: inline-flex;
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__btns {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    &__img {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-15deg);
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    &__link {
        color: var(--title-color);
        font-weight: var(--font-medium);
        transition: 0.3s;

        &:hover {
            color: var(--first-color);
        }
    }

    &__close {
        font-size: 2rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .nav {

        &__menu {
            position: fixed;
            background-color: var(--body-color);
            top: -100%;
            left: 0;
            width: 100%;
            padding: 4rem 0;
            border-radius: 0 0 1.5rem 1.5rem;
            box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
            transition: 0.4s;
        }

        

    }
}

.show-menu {
    top: 0;
}

.scroll-header {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

.active-link {
    color: var(--first-color);
}