.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;

    &:hover{
        opacity: 1;
    }

    &__icon{
        font-size: 1.25rem;
        color: var(--first-color);
    }
}

.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: hsl(355, 8%, 44%);
    border-radius: 1rem;

    &-thumb{
        background: hsl(355, 32%, 17%);
        border-radius: 1rem;
    }
}